<%= form_for([@entry, @comment]) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="field start-md">
    <%= form.label :name, "Nombre" %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <%= form.text_field :name, id: :comment_name %>
  </div>
  <div class="field start-md">
    <%= form.label :body, "Comentario" %>
    <%= form.text_area :body, id: :comment_body %>
  </div>
</div>
  <div class="actions">
    <%= form.submit "Comentar", class:"btn be-green white" %>
  </div>
<% end %>
