<br>
<h2 style="margin-left:2.7em;">Noticias de la semana</h2>
<br>
<div class="container fluid">
  <header class="row">
    <% @entries.each do |entry| %>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="header">
          <h3><%=truncate(entry.title, :length => 40)%></h3>
          <h5><%= entry.downtitle %></h5>
          <p><%= truncate(entry.body, :length => 502) %></p>
          <div class="row center-xs">
            <span class="col">Visitas: <%= entry.counter %></span>
            <span class="col">Comentarios: <%= entry.comments.length %></span>
            <span class="col"><%= link_to 'Ver Noticia', entry %></span>
          </div>
          <small class="col">Publicado <%= entry.created_at %></small>
        </div>
        <br>
      </div>
    <% end %>
  </header>
</div>
<br>
