<!-- <p id="notice"><%= notice %></p> -->
<div class="container left-xs">
  <h1>
    <%= @entry.title %>
  </h1>
  <h5>
    <%= @entry.downtitle %>
  </h5>
  <small><strong>Escrito por</strong> <%= @entry.user.email%></small>
  <p>
    <%= @entry.body %>
  </p>
  <small>
    <strong>Visitas:</strong>
      <%= @entry.counter %>
  </small>

  <p class="field form_control">
    <h4>Comentarios</h4>
    <%= render "comments/form"%>
    <div class="footer">
      <ul>
        <% @entry.comments.each do |comment| %>
        <li>
          { <%=comment.name%> } - <%=comment.body%>.
        </li>
        <%end%>
      </ul>
      </div>
  </p>
</div>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
