<!-- <p id="notice"><%= notice %></p> -->
<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Downtitle:</strong>
  <%= @entry.downtitle %>
</p>
<p>Escrito por <%= @entry.user.email%></p>
<p>
  <strong>Body:</strong>
  <%= @entry.body %>
</p>

<p>
  <strong>Visitas:</strong>
  <%= @entry.counter %>
</p>

<p class="field">
  <h3>Comentarios</h3>
  <%= render "comments/form"%>
  <ul>
    <% @entry.comments.each do |comment| %>
    <li>
      <%=comment.body%> - { <%=comment.name%> }
    </li>
    <%end%>
  </ul>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
